$primary1: #212529;

$primary2: #ffffff;

$primary3: rgb(255 255 251 / 55%);

$primary4: #747283;

$primary5: #0D6EFD;

$primary6: #6c757d;

$primary7: #f8f9fa;

$primary8: #dee2e6;

$primary9: #5f9ffc;

$primary10: #ededed;

$font-family: 'Roboto', sans-serif;